.btn-latest .latestbutton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #aa57d4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: left;
}

.latestbutton:hover {
background-color: #7f0fb8;
opacity: .75;
}

.latestbutton:active {
  background-color: #7f0fb8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
