@import url('https://fonts.googleapis.com/css?family=Comic%20Sans%20MS');

html, p14 {
    height: 100% ;
    width: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #222;
  }
