body {
  background-color: black;
}

pright {
  color: green;
  font-family: verdana;
  font-size: 20px;
}

h2 {
  color: darkgreen;
  text-align: center;
}

p {
  color: green;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}


box {
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 525px;
  width: 320px;
  padding: 10px;
  border: 5px solid green;
}

.flex-container {
  display: flex;
  background-color: grey;
}

.flex-container > box2 {
  background-color: lightgrey;
  color: darkgreen;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 525px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

div {
  font-size: 18px;
  color: green;
  text-align: center;
  font-family: Open+Sans;
}

revad {
  margin: auto;
  font-size: 18px;
  color: lightgreen;
  text-align: center;
  font-family: Open+Sans;
}

http {
  color: darkgreen;
  text-align: center;
}


s4 {
  color: darkgreen;
  text-align: left;
}


s5 {
  color: darkgreen;
  text-align: right;
}
