body {
  background-color: black;
}

h2 {
  color: darkgreen;
  text-align: center;
}

p {
  color: green;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

box {
  width: 320px;
  padding: 10px;
  border: 5px solid green;
  margin: center;
}
