body {
  background-color: black;
}

h2 {
  color: darkgreen;
  text-align: center;
}

p {
  color: green;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

box {
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 525px;
  width: 320px;
  padding: 10px;
  border: 5px solid green;
}

div {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 525px;
  font-size: 18px;
  color: green;
  text-align: center;
  font-family: Open+Sans;
}

revad {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: -525px;
  font-size: 12px;
  color: lightgreen;
  text-align: center;
  font-family: Open+Sans;
}
