html,body{
    padding:0;
    margin:0;
    overflow:hidden;
    background:#1f1f1f;
    color:#fff
}
html,body,canvas{
    touch-action:none;
    touch-action-delay:none
}
#notSupportedWrap{
    margin:2em auto 1em;
    width:75%;
    max-width:45em;
    border:2px solid #aaa;
    border-radius:1em;
    padding:2em;
    background-color:#f0f0f0;
    font-family:segoe ui,Frutiger,frutiger linotype,dejavu sans,helvetica neue,Arial,sans-serif;
    color:#000
}
#notSupportedTitle{
    font-size:1.8em
}
.notSupportedMessage{
    font-size:1.2em
}
.notSupportedMessage em{
    color:#888
}
.right {
	font-family: segoe ui,Frutiger,frutiger linotype,dejavu sans,helvetica neue,Arial,sans-serif;
	color: #ffebeb111;
	float: right;
  width: 300px;
  padding: 10px;
}
.bold {
	font-weight: bold;
	font-size: 24px
}
